* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  font-family: system-ui, sans-serif;
  background: black;
  color: white;
  padding: 72px 60px 60px;
  overflow: auto;
}

.player-title {
  font-size: 32px;
  margin-bottom: 20px;
  display: inline-block;
}

.player-no-result {
  font-size: 32px;
  color: white;
  margin-bottom: 20px;
}

.player-result-error {
  font-size: 30px;
  color: rgb(150, 8, 8); 
  margin-bottom: 20px;
}

.player-result-success {
  font-size: 30px;
  color: rgb(7, 147, 87); 
  margin-bottom: 20px;
}

.player-result-test-failed {
  font-size: 30px;
  color: rgb(147, 135, 7);
  margin-bottom: 20px;
}

.original-сolumn {
  overflow: hidden;
}

.original-title {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

.right-align {
  text-align: right;
}

.main-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin: 0;
}

.reference-image {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background: #1e1e1e;
  object-fit: scale-down;

  object-position: 50% 0%;
  box-shadow: 0 0 0 1px rgba(1e, 1e, 1e, 0.5);
  height: 70vh;
  object-fit: contain;
}

.player-frame {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  height: 70vh;
  width: 100%;
}

.timer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 24px;
  font-size: 64px;
}

.player-column {
  display: flex;
  flex-direction: column;
  gap: 10px; /* расстояние между блоками */
}

.player {
  display: flex;
  align-items: center;
  gap: 15px; /* расстояние между h3 и h4 */
}